<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    {% include 'Menu.html'%}
    <div class="main">
        <table class="question">
            <tr>
                <td>Hello! {{user.name}}</td>
            </tr>
            <tr>
                <td>使用指南:</td>
            </tr>
            <tr>
                <td>V0.1.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2018.07.19更新</td>
            </tr>
            <tr>
                <td>1.如需开始评估请点击左侧"开始评估" (目前题库只有测试1)</td>
            </tr>
            <tr>
                <td>2.完成评估后如想开始新的评估请点击左侧"重置评估"</td>
            </tr>
            <tr>
                <td>3.查看历史评估请点击左侧"评估历史"</td>
            </tr>
            <tr>
                <td>4.如果不点击"重置评估"即开始下一次评估,会报错(7.17新加入,正在修复)</td>
            </tr>
            <tr>
                <td>5.评估历史中的链接应指向当次评估的详情(7.17已完成)</td>
            </tr>
            <tr>
                <td>6.在评估过程中,如刷新页面会导致进入下一题(尚未修复)</td>
            </tr>
            <tr>
                <td>7.老板可查看属于他的项目评估结果</td>
            </tr>
            <tr>
                <td>测试方法:使用admin账户创建名为"吉林"的评估,完成后即可在aaa账户内查看历史,其他项目名的历史aaa无法查看</td>
            </tr>
        </table>
</div>
</body>
</html>
