<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Log-in</title>
    <link rel="stylesheet" href="../static/css/login.css" media="screen" type="text/css" />
</head>

<body>
<div class="login-card">
    <h1>Log-in</h1><br>
    <form method="post">
        <input type="text" name="Username" placeholder="用户名">
        <input type="password" name="Password" placeholder="密码">
        <input type="submit" name="login" class="login login-submit" value="登录">
    </form>
    <div>
        {% block content %}
        {% for message in get_flashed_messages()%}
        {{message}}
        {% endfor %}
        {% block page_content %}
        {% endblock %}
        {% endblock %}
    </div>
    <div class="login-help">
        联系xxxx@outlook.com获取更多帮助<br>
    </div>
</div>

</body>
</html>