<section id="sideMenu">
    <div id="title">
        质量管理内审评估
    </div>
    <nav>
        <a href="{{url_for('dashboard')}}"class="active"><i class="fas fa-home"></i>主页</a>
        <a href="{{url_for('new_audit')}}"><i class="fas fa-home"></i>开始评估</a>
        <a href="{{url_for('reset_audit')}}"><i class="fas fa-home"></i>重置评估</a>
        <a href="{{url_for('AuditHistory')}}"><i class="fas fa-home"></i>评估历史</a>
        <a href="#"><i class="fas fa-home"></i>Item</a>
        <a href="{{url_for('update')}}"><i class="fas fa-home"></i>更新记录</a>
    </nav>
    <a href="/logout">&nbsp;登出&nbsp;</a>
</section>