<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新评估</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    {% include 'Menu.html'%}
    <div class="main">
        <form method="post">
            <table class="question">
                <tr>
                    <td>
                        <input type="radio" name="choice" value="1" required />
                    </td>
                    <td>
                        评估测试1
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="choice" value="2" required />
                    </td>
                    <td>
                        评估测试2
                    </td>
                </tr>
                <tr>
                    <td>
                        项目名称:
                    </td>
                    <td>
                        &nbsp;<input type="text" name="name" required />
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" name="Next" value="确定"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

<!--

<select name="name" required>
    <option value="评估项目1">评估项目1</option>
    <option value="评估项目2">评估项目2</option>
    <option value="评估项目3">评估项目3</option>
</select>

-->